
      <div class="card-list">
        {{#if cards.length}}
          {{#each cards}}
            <div class="card">
              <img src="{{imageUrl}}" alt="{{name}}">
            </div>
            <div>
             <button class="delete-from-binder-btn" data-card-id="{{id}}">Delete</button>
            </div>
          {{/each}}
        {{else}}
          <p></p>
        {{/if}}
      </div>

     <script src="js/binder.js"></script>